@charset "utf=8";

*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
	background: #0f0f0f url(../image/dark-wallpaper-1.jpg);
	background-position: top;
	background-repeat: no-repeat;
}

a{
	direction: none;
	color: grey; 
}

#box{
	width: 100%;
	height: 100%;
	position: absolute;
}


.buttonTo{
	width: 100%;
	height: auto;
	border: ridge 1px silver;
}

.buttonTo:hover{
	width: 105%;
	height: auto;
}

table{
	position: absolute;
	margin:10% 5% 0 5%;
	width: 90%;
	height: 75%;

}

td{
	width: auto;
	height: auto;
	padding: 0;
}

